@import 'responsive.styl';

.or
  color #FF8B03
  font-weight 700

.num
  background-color #FFE4B8
  display inline-block
  border-radius 50%
  padding 2px 7px
  text-align center
  box-sizing border-box
  margin-right 7px

.num p
  @extends .or
  font-size 12px
  margin 0

.num-2
  background-color #FF8B03
  display inline-block
  border-radius 50%
  padding 2px 7px
  text-align center
  box-sizing border-box
  margin-right 7px

.num-2 p
  color #FFE4B8
  font-weight 700
  font-size 12px
  margin 0

.capital
  text-transform capitalize
  color #FF8B03
  font-weight 500

.p-1
  padding 5px 15px
  +mediaPort(mobile)
    padding 0

.pfr-1
  padding 5px 15px
  +mediaPort(mobile)
    padding 10px

.p-l
  padding-right 22px

.border-right
  border-color #FFE4B8
  border-right-style solid
  border-right-width thin

  +mediaPort(mobile)
    border-right-style none
    border-bottom-style solid
    border-bottom-width thin
    margin-bottom 18px

.f-left
  order -1
  flex 0 1 66%

  +mediaPort(mobile)
    flex 1 1 100%
    padding-bottom 43px

.f-right
  height 470px
  flex 1

.tab-panel-divide
  text-align left
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content space-between

.mt-1
  margin-top 30px

.mb-1
  margin-bottom 45px

.my-auto
  margin auto 0

.mx-auto
  margin 0 auto

.between
  display flex
  flex-direction row
  justify-content space-between

.flex-self
  display flex
  flex-direction row
  cursor pointer

#not-finish
  @extends .p-l
  display flex
  flex-direction column

.new-side
  width 86px
  border-color #FFE4B8
  border-top-style solid
  border-top-width thin
  margin 18px 0

.title-side
  font-weight 600
  color #0bf87f

.caption-side
  margin-bottom 7px
  font-weight 500

.fw-700
  font-weight 700

.total-text
  margin 10px 0
  font-size 20px
  color #FF8A00
  font-weight 700

.center-div
  display flex
  flex-direction column
  justify-content center
  align-items center
  align-content center
  > *
    width 50%
  +mediaPort(mobile)
    > *
      width 72%

.done
  height 50vh

  +mediaPort(ipad)
    height 100%

+mediaPort(ipad)
  .fz
    font-size 14px
    > *
      padding 2px 0
